header {
    background-color: #06426f;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0 20px; 
    box-sizing: border-box;
}

.titulo-bem-vindo {
    margin: 0;
    text-align: center;
    flex: 1;
    color: white;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 60px;
    font-family: Arial, sans-serif; 
}

body {
    position: relative;
    height: 100vh;
    margin: 0;
    display: flex; 
    flex-direction: column; 
    background-color: slategray
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    position: relative;
}

.retangulo {
    width: 70vw; 
    height: 50vh; 
    max-width: 350px; 
    max-height: 720px; 
    background-color: rgb(6, 66, 111); 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.titulo-solucoes {
    position: relative; 
    z-index: 1; 
    margin-bottom: 10px; 
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif; 
    font-size: 40px; 
    font-weight: bold; 
    text-align: center;
}

.lista {
    list-style-type: none;
    padding: 0;
    position: relative; 
    z-index: 1; 
}

.lista li {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

li img {
    max-width: 80px;
}

.about {
    margin:  20px;
}

.about img {
    height: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(6, 66, 111);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.icon-container {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.icon {
    width: 50px;
    height: 50px;
}

/* Media Queries */
@media (max-width: 768px) {
    .titulo-bem-vindo {
        font-size: 20px;
    }

    .retangulo {
        width: 90vw;
        height: 90vh;
    }

    .titulo-solucoes {
        font-size: 20px;
    }

    .lista li {
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .titulo-bem-vindo {
        font-size: 16px;
    }

    .retangulo {
        width: 85vw;
        height: 70vh;
    }

    .titulo-solucoes {
        font-size: 18px;
    }

    .lista li {
        margin-bottom: 10px;
    }
}
