* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('../img/oceano.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #F8FAFD;
}
 #cadastro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 400px;
  padding: 20px;
}

.titulo-cadastro {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: serif;
  color: white;
}

#cadastroForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name, #email {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 240px;
  border: none;
  background-color: rgb(6, 66, 111);
}

.enviar {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  width: 220px;
  background-color: rgb(6, 66, 111);
  color: #F8FAFD;
  border: none;
}

@media (min-width: 600px) {
  #cadastro {
    max-width: 600px;
  }
}

@media (min-width: 800px) {
  #cadastro {
    max-width: 800px;
  }
}
