body {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
    background-color: slategray;
}

.titulo-drone {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    text-align: center;
    background-color: #06426f;
    color: white;
    padding: 10px; 
    box-sizing: border-box; 
    font-family: Arial, sans-serif; 
    font-weight: bold; 
    font-size: 400%;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}
.img-container {
    flex-basis: 40%;
    margin-right: 20px;
    position: relative;
    transform: translateY(-170px);
  }

.img-container img {
    width: 100%;
    height: auto;
    margin-left: 20px;
}

.texto-container h1 {
    font-size: 125%; 
    color: white;
    margin-top: -20%;
    font-family: sans-serif;
}
.lista-features {
    margin-top: 20px;
    margin-left: 0;
  }
  
  .lista-features li {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
  }
  
  .texto-container {
    position: relative;
    margin-top: -30px;
  }
  #voltar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
  }
  
  #voltar img {
    width: 15%; 
    height: auto; 
    margin: 10px; 
  }